@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <!-- team member 1 -->
        <div class="col-md-4 col-sm-8">
            <div class="person">
                <img src="~/images/SUN.jpg" alt="" class="img-responsive">
                <div class="person-content">
                    <h4>This is The Sun</h4>
                    <h5 class="role">The Centre of All</h5>
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
                </div>
            </div>
        </div>
        <!-- team member 1 -->
        <!-- team member 2 -->
        <div class="col-md-4 col-sm-8">
            <div class="person">
                <img src="~/images/Mars.jpg" alt="" class="img-responsive">
                <div class="person-content">
                    <h4>This is Mars</h4>
                    <h5 class="role">Cold but Red</h5>
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                </div>
            </div>
        </div>
        <!-- team member 2 -->
        <!-- team member 3 -->
        <div class="col-md-4 col-sm-8">
            <div class="person">
                <img src="~/images/Earth.png" alt="" class="img-responsive">
                <div class="person-content">
                    <h4>Our Home Planet</h4>
                    <h5 class="role">Provider of Life Support</h5>
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                </div>
            </div>
        </div>
        <!-- team member 1 -->
    </div>
</div>
