<!-- Footer section -->
<footer class="footer">
    <div class="footer-top section">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h5>Solar Flares</h5>
                    <p>
                        
                    </p>
                    <p>Made with <i class="fa fa-heart pulse"></i> by <a href="#">TsormanG</a></p>
                </div>
                <div class="footer-col col-md-4">
                    <h5>Go To</h5>
                    <p>
                        <ul>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </p>
                </div>
                <div class="footer-col col-md-4">
                    <h5>Share with Love</h5>
                    <ul class="footer-share">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer top -->
