<hr/>
<section id="chat" class="section quote">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h3>Chat</h3>
            <a href="#" class="btn btn-large">MessageBox</a>
        </div>
    </div>
</section>
